body{
    /* Trae un color de fondo */
    background-color: #e7c7ff;
    /* Background image trae una imagen de fondo */
    background-image: url("img/font.jpg");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #b00b6e;
    text-align: justify;
}

.parrafo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0d0d0e;
}
/* No se suelen utilizar ID en el desarrollo */
#parrafo-unico{
    font-size: 20px;
    text-align: left;
    line-height: 2;
}

.contenedor-fondo{
    background-color: #869d676f;
    font-size: 24px;
    color: #0a1414;
}

.parrafo-fondo{
    background-color: #c9e320;
}
a{
    font-size: 24px;
    text-decoration: underline;
}
.titulo-mayuscula{
    font-size: 30px;
    text-transform: uppercase;
    color: mediumblue;
    text-align: center;
    letter-spacing: 5px;
}
.caja{
        background-color: mediumpurple;
        border-style: solid;
        border-color: #1100ff;
        border-width: 5px;
        padding-left: 30px;
        padding-right: 35px;
        padding-top: 50px;
        padding-bottom: 10px;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 20px;
        margin-right: 20px; 
        margin: 100px 20px 100px 20px;
        width: 300px;
        height: 600px;
    
}

.caja h2{
    border: 5px dotted darksalmon;
    padding: 10px 50px 30px 20px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}